@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-corpo-light: rgb(248, 248, 248);
    --cor-botao: blue;
    --cor-link: rgb(27, 192, 115);
    --cor-nav-light: rgb(255, 255, 255);

    --font: 'Poppins';
}
h1, h2, h3, h4, p, span, li{
    font-family: var(--font);
}
body{
    background: var(--cor-corpo-light);
}
span{
    font-weight: 800;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    color: var(--cor-link)
}

nav{
    background: var(--cor-nav-light);
    justify-content: center;
}
nav ul, .logo{
    text-decoration: none;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}
nav ul li, .active{
    padding: 0.3rem 1rem;
    font-weight: 500;
}
li:hover{
    cursor: pointer;
    color: var(--cor-link);
    transition: 0.3 ease;
}
.active{
    border-bottom: 3px solid var(--cor-link);
}

.inicio{
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.inicio .ini-esq{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.7rem 0;
}

.ini-img{
    width: 13rem;
    border-radius: 50%;
}

.habilidades{
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.hab{
    justify-content: center;
    text-align: center;
    background: var(--cor-nav-light);
    border: 2px solid var(--cor-link);
    width: 10rem;
    padding: 1rem;
    border-radius: 1rem;

    margin:1rem;
}
.hab:hover{
    background: var(--cor-corpo-light);
    transition: ease 0.5s;
    transform:scale(1.1);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container{
    padding-block: 5rem;
}

.card-content{
    margin-inline: 1.5rem;
    border-radius: 1.5rem;
    overflow: hidden;
}

.card-article{
    width: 300px;
    border-radius: 1.5rem;
    overflow: hidden;
}

.card-imagem{
    position: relative;
    background: var(--cor-link);
    margin-top: 1.5rem;
    margin-bottom: -.75rem;
}

.card-data{
    background-color: var(--cor-link);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

.card-img{
    width: 180px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.card-shadow{
    width: 200px;
    height: 200px;
    background-color: var(--font);
    border-radius: 50%;
    position: absolute;
    top: 3.5rem;
}