@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*VARIÁVEIS*/

:root {
    /*CORES*/
    --cor-corpo-light:#f9f6f1;
    --cor-botao: rgb(214, 214, 214);
    --cor-link:#6ca183;
    --cor-titulo: #c3e471;
    --cor-nav-link: #072224;
    --cor-nav-light: rgb(255, 255, 255);

    /*FONTES*/
    --familia-font: 'Poppins';
}

/*TEXTOS E UNIVERSAIS*/

h1,
h2,
h3,
h4,
p,
span,
li {
    font-family: var(--familia-font);
}
p, h4{
    color: var(--cor-nav-link);  
}

.span-titulo {
    font-weight: 800;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    color: var(--cor-link)
}

body,
.container-body {
    background: var(--cor-corpo-light);
}

.beatriz, .span-titulo{
    color: var(--cor-titulo)
}

/*MENU*/
.cabecalho {
    position: fixed;
    display: flex;
    text-align: center;
    z-index: 100;

    justify-content: center;
    align-items: center;
    background-color: var(--cor-corpo-light);
    width: 30%;
    margin-bottom: 3rem;
    margin-left: 35%;
    color: var(--cor-branco-sujo);
    margin-right: 35%;
    margin-top: 1%;

    background: var(--cor-link);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(0, 84, 17, 0.18);
}

ul li a {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: var(--cor-nav-link);   
}

nav {
    background: var(--cor-nav-light);
    justify-content: center;
    text-align: center;
    display: flex;
}

nav ul li,
.active {
    padding: 0.3rem 1rem;
    font-weight: 500;
    margin-bottom: -0.1rem;
}

.menu {
    display: none;
}

.mobile-menu {
    display: none;
    position: absolute;
    height: 100vh;
    margin-top: 35rem;
    width: 500%;
}

.mobile-menu ul{
    flex-direction: column;
    background-color: rgba(4, 42, 0, 0.879);
    list-style: none;
    width: 100%;
    height: 110vh;
    transition: smooth 1.3s ease;
    z-index: 99;

    text-align: center;
    padding-top: 40vh;
    text-decoration: none;
}

a, button a {
    text-decoration: none;
    color: var(--cor-nav-link);  
}

.mobile-menu li a {
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.mobile-menu-icon {
    display: absolute;
    cursor: pointer;
    background-color: transparent;
    width: 5rem;
    z-index: 100;
}

.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon {
    background-color: transparent;
    width: 2.5rem;
    margin: 0.7rem;
}

.open {
    display: block;
}

li:hover {
    cursor: pointer;
    color: var(--cor-link);
    transition: 0.3 ease;
}

li .ativo {
    border-bottom: 3px solid var(--cor-link);
}


/*INICIO*/
.botao{
    border-radius: 0.5rem;
    border: solid 1px #014519;
    padding: 0.5rem 2rem;
    background-color: var(--cor-link);
    color: var(--cor-nav-link);  
}
.inicio {
    padding: 4.5rem 1rem 2rem;
    justify-content: center;
    align-items: center;
}

.inicio .ini-esq {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.7rem 0;
}

.ini-img {
    width: 13rem;
    border-radius: 50%;
}

.habilidades {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.hab {
    justify-content: center;
    text-align: center;
    border: 2px solid var(--cor-link);
    width: 5.5rem;
    padding: 1rem;
    border-radius: 1rem;

    margin: 1rem;
}

.ico-hab {
    font-size: 2.5rem;
    color: var(--cor-link);
}

.hab:hover {
    box-shadow: 0rem 0rem 0.6rem grey;
    border: solid 2px var(--cor-link);
    background: var(--cor-corpo-light);
    transition: ease 0.5s;
}

/*PROJETOS*/
.projetos{
    overflow: hidden;
    padding: 0 0.5rem;

    z-index: 1;
}
.row, .col, .card{
    position: relative;
    z-index: 1;
}
.card-body {
    background-color: var(--cor-corpo-light);
    border: solid 1.5px green;
    border-radius: 0 0 0.3rem 0.3rem;
    z-index: 1;
}

.btn-action {
    display: block;
    width: 100%;
    padding: 0.6rem 0rem 0rem;
    border-radius: 1rem;
    font-size: 1rem;
    color: var(--cor-branco-sujo);
    font-weight: 700;
    transition: all .5s ease 0s;
    box-shadow: 0 10px green;
    border: solid 2px green;

    background-color: rgb(59, 183, 59);
    text-decoration: none;
    text-align: center;
    transition: all .5s ease;
}


.btn-action:hover span:before {
    left: 0;
    opacity: 1;
}

.btn-action:active {
    box-shadow: 0 5px #014519;
    transform: translateY(5px);
}

.btns-card {
    display: flex;
    gap: 0.5rem;
}

/*FOOTER*/

.redes-sociais ul li {
    list-style: none;
    font-size: 25px;
}

.redes-sociais ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-left: -1rem;
}

.span-card-proj {
    font-weight: bolder;
}
footer{
    background-color: var(--cor-link);
}
/*CONTATO*/
.contato{
    text-align: center;
    justify-content: center;
}
.txtarea{
    padding: 1rem 1rem 3rem;
    width: 20rem;
    border-radius: 0.5rem;
}
.input-form{
    width: 20rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.botoes-form{
    margin-bottom: 0;
    padding-bottom: 1rem;
}

/*PARA MOBILE*/


@media screen and (min-width: 800px) {
    .container-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 50px;
    }

    section {
        max-width: 60rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .inicio {
        display: flex;
    }

    .ini-esq {
        width: 60%;
    }

    .ini-dir {
        width: 40%;
        text-align: left;
    }

    .ini-img {
        width: 20rem;
    }

    .menu {
        display: flex;
        margin-left: -2rem;
        justify-content: center;
        text-align: center;
        color: white;
        margin-top: 0.5rem;
    }

    .cabecalho {
        z-index: 111111111111;
        justify-content: center;
        padding: 1rem;
    }

    .cabecalho .menu {
        list-style: none;
        gap: 1rem;
        text-align: center;
        justify-content: center;
    }

    .menu ul a li {
        text-decoration: none;
        text-align: center;
    }

    .mobile-menu {
        display: none;

        text-decoration: none;
    }

    .mobile-menu-icon {
        display: none;
    }

    .card {
        max-width: 15rem;
    }

}